@import url(https://fonts.googleapis.com/css?family=Outfit:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);

.body{
    overflow: hidden;
}
.upper{
    background-image: url(./assets/365f6fd1725123369f147ac80ea0c43b.png);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
}
.header li,p{
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
}
.header__left{
    display: flex;
    column-gap: 15px;
}
.header__right{
    display: flex;
    column-gap: 40px;
    align-items: center;
}

/* form */
.search{
    text-align: center;
    position: relative;
    width: min-content;
    display: block;
}
.search__input{
    width: 200px;
    background-color: transparent;
    padding: 10px 40px;
    border: 1px solid #ffffffc9;
    border-radius: 10px;
    color: #fff;
}
.search__icon{
    position: absolute;
    width: 23px;
    height: 23px;
    opacity: .5;
    top: 12px;
    left: 12px;
}
.search__close{
    position: absolute;
    top: 12px;
    width: 23px;
    height: 23px;
    right: 15px;
    opacity: .5;
}
.search__close:hover{
    opacity: .8;
    cursor: pointer;
}
/* ------------ */

.main{
    padding-top: 64px;
}
.main__center{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 35px;
}
.main__center__name{
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 90px;
    font-weight: 700;
}
.main__center__p{
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.main__center__stars{
    
}
.main__center__btns{
    display: flex;
    column-gap: 24px;
}
.main__center__btns__btn1{
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 41px;
    background-color: rgb(250, 71, 118);
    padding: 17px 30px;
}
.main__center__btns__btn2{
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid #fff;
    border-radius: 41px;
    padding: 13px 30px;
}

/* slider */
.slider{
    padding: 50px 0;
}
.slider__h1{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
.main-container{
    max-width: 1400px; /* вот сюда при адаптиве прийти*/
    display: flex;
    align-items: center;
}
.window{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px 19px;

    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 24px;
    backdrop-filter: blur(20px);
    background: rgba(103, 101, 113, 0.34);
    overflow: hidden;
}
.all-pages-container{
    height: 100%;
    display: flex;
    column-gap: 40px;
    justify-content: space-between;

    transition: transform .3s ease-in-out;
}
.main-block__div{
    min-width: 182px;
    min-height: 256px;
}
.main-block__div img{
    width: 100%;
    height: 100%;
}
.arrRight{
    cursor: pointer;
}
/* -------------------- */

/* under */
.under{
    background-color: #000;
}
/* ------------- */